{
  "defaults": {
    "pg": {
      "user": "pg_user",
      "host": "ip_to_pg",
      "database": "pg_db",
      "password": "pg_password",
      "port": 5432
    }
  },
  "development": {
    "serverPort": 3000,
    "sessionSecret": "supersecret"
  }
}